/* Checkbox */
/*-------------------------------------------------------------- */
.carob-options .carob-checkbox,
.carob-options .carob-radio {
	margin: -18px 10px 0 0;
}

.carob-label {
	display: inline-block;
	margin: 0 30px 20px 0;
}