/* File */
/*-------------------------------------------------------------- */
.carob-file-button {
	display: inline-block;
	min-height: 32px;
	margin-left: 10px!important;
	padding-top: 1px;
	line-height: 30px!important;
}

.carob-image-preview {
	max-width: 300px;
	margin-bottom: 20px;
}