/* Select Image Option */
/*-------------------------------------------------------------- */
.carob-select-image-option {
	margin-bottom: 20px;
	
	li { 
		display: inline-block;
		width: 120px;
		height: 80px;
		margin: 10px 30px 15px 0;
	}

	li a { 
		display:block;
		width: 120px;
		height: 80px;
		border: solid 5px $gray_40;
		border-radius: 3px;
	}

	li.selected a,
	li a:hover { 
		background-color: $accent;
		border-color: $accent;
	}

	li a:active { 
		outline: none;
	}

}