///* Colors */
///*-------------------------------------------------------------- */
$accent: #55c5e9;

$gray: #dddddd;
$gray_80: tint( $gray, 20% );
$gray_60: tint( $gray, 40% );
$gray_40: tint( $gray, 60% );
$gray_20: tint( $gray, 80% );

$green: #7cd3c6;